

html, body {
    background: #181D27;
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-size: 16px;
    color: #254D32; 
}

.clear {
    clear: both;
}

.radio{
    display:none;
}
#one:checked ~ .panels #mainPanel,
#two:checked ~ .panels #idealJob,
#three:checked ~ .panels #personalProfile,
#four:checked ~ .panels #projectIdea{
    display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
    background:#3A7D44;
    color:#000;
    border-top: 3px solid #000;
}

.tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#D0DB97;
    display:inline-block;
    color:#000;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels{
    background:#D0DB97;
    box-shadow: 0 2rem 2rem #00000080;
    min-height:200px;
    width:100%;
    max-width:750px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;  
}

.panel{
    display:none;
    animation: fadein .8s;
}


p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #181D27;
}

#cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    background: #181D27;
    margin: 30px auto;
}

#staticInfo {
    background:#3A7D44;
    width:100%;
    max-width:750px;
    padding:20px;  
}


.mainDetails {
    padding: 25px 35px;
    border-bottom:2px solid #5BC0BE;
    background: #3A506B;
}

#headshot {
    float: right;
}

#name {
    float: left;
}

#name h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom: -6px;
}

#name h2 {
    font-size: 2em;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#contactDetails {
    float: left;
}

section {
    border-top: 1px solid #254D32;
    padding: 20px 0 0;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 20px 0 10px;
}

#mainArea {
    padding: 0 40px;
}

.sectionContent img {
    border: 2px solid #254D32
}

.sectionTitle {
    float: left;
    width: 25%;
}

.sectionContent {
    float: right;
    width: 73%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
  }

/*
.sectionContent{
        width: 50%;
        background: #FFF;
        margin: 30px;
        border: 30px solid #808080;
        padding: 30px;
        font-family: Arial;
        font-size: 2e,;
        color: #000;
}
*/