

html, body {
    background: #0B132B;
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-size: 16px;
    color: #50AAA9; 
}

.clear {
    clear: both;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #709CD1;
}

#cv {
    width: 90%;
    max-width: 800px;
    background: #1C2541;
    margin: 30px auto;
}

.mainDetails {
    padding: 25px 35px;
    border-bottom:2px solid #5BC0BE;
    background: #3A506B;
}

#name h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom: -6px;
}

#name h2 {
    font-size: 2em;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

section {
    border-top: 1px solid #5BC0BE;
    padding: 20px 0 0;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 20px 0 10px;
}

#mainArea {
    padding: 0 40px;
}

.sectionContent img {
    border: 2px solid #50AAA9
}

.sectionTitle {
    float: left;
    width: 25%;
}

.sectionContent {
    float: right;
    width: 73%;
}

/*
.sectionContent{
        width: 50%;
        background: #FFF;
        margin: 30px;
        border: 30px solid #808080;
        padding: 30px;
        font-family: Arial;
        font-size: 2e,;
        color: #000;
}
*/